.details-bg{
    min-height:100vh;
    background:#f8fafc;
}

.details-container{
    padding:30px;
    max-width:1000px;
    margin:auto;
}

.details-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.details-card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

.details-card p{
    margin-bottom:15px;
    color:#334155;
}

.description{
    line-height:1.7;
}

.doc-link{
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    color:#2563eb;
    font-weight:600;
}

.edit-btn{
    display:inline-block;
    margin-bottom:30px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:12px 20px;
    border-radius:8px;
}

.section-box{
    background:white;
    padding:25px;
    border-radius:10px;
    margin-bottom:30px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.comment-card,
.timeline-card{
    border-bottom:1px solid #e2e8f0;
    padding:15px 0;
}

.comment-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

.pending,
.review,
.approved,
.rejected,
.changes{
    padding:8px 14px;
    border-radius:20px;
    font-weight:600;
    color:white;
}

.pending{
    background:#f59e0b;
}

.review{
    background:#3b82f6;
}

.approved{
    background:#16a34a;
}

.rejected{
    background:#dc2626;
}

.changes{
    background:#7c3aed;
}

.loading-text{
    text-align:center;
    margin-top:100px;
    font-size:22px;
}